<a href="https://colab.research.google.com/github/Bushra-Infinity/data-mining/blob/main/W1HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 10
b = 5
sum = a+b
difference = a-b
product = a*b
division = a/b

print("Sum: ", sum)
print("Difference: ",difference)
print("Product: ", product)
print("Division: ",division)

Sum:  15
Difference:  5
Product:  50
Division:  2.0

In [5]:
print(f"The sum of the two number {a}, {b} is {sum}")

The sum of the two number 10, 5 is 15

In [10]:
x = 13//2
print(x)
y= 13%2
print(y)

6
1

In [ ]:
# Boolean variables and comparisons
x = 10
y = 5

is_greater = x > y
is_equal = x==y
is_not_equal = x !=y

print("is x greater than y?" , is_greater)
print("is x equal y?" , is_equal)
print("is x not equal to y?" , is_not_equal )

is x greater than y? True
is x equal y? False
is x not equal to y? True

In [12]:
# Variable assignment
name = "Alaa"
age = 55
is_professor = True

print (f"{name}'s age {age}. He is a Professor is {is_professor}")

Alaa's age 55. He is a Professor is True

In [24]:
def greet(name):
  return "Hello," + name +"!"

myname = input("Enter your name")
greet(myname)

Enter your nameAlaa

'Hello,Alaa!'

In [33]:
def add_number(a,b):
  return a+b

a = int(input("enter first number:"))
b = int(input("enter second number:"))

addition_value = add_number(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

enter first number:2
enter second number:3
The result of addition for 2, 3 is 5

In [35]:
def add_number(a,b):
  return a+b

a = eval(input("enter first number:"))
b = eval(input("enter second number:"))

addition_value = add_number(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

enter first number:-4.5
enter second number:10
The result of addition for -4.5, 10 is 5.5

In [2]:
# Working with strings
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original message: ", message)
print("The length is: ", length)
print("Upper case: ", uppercase)
print("Lower case: ", lowercase)
print("Part of the message is: ", substring)

Original message:  Hello, World
The length is:  12
Upper case:  HELLO, WORLD
Lower case:  hello, world
Part of the message is:  World

In [7]:
# Basic input example
Last = input("Enter the last name, last name: ")
First = input("Enter the last name, first name:")

print(f"{Last}, {First}")

Enter the last name, last name: Sheta
Enter the last name, first name:Alaa
Sheta, Alaa

In [8]:
# Numeric input example
age = int(input("Enter your age:"))
print("You will be", age + 1, "years old next year.")

Enter your age:55
You will be 56 years old next year.

In [9]:
# Calculations with input
num1 = float(input("Enter a number:"))
num2 = float(input("Enter another number:"))
sum_result = num1 + num2
print("Sum:",sum_result)

Enter a number:12
Enter another number:14
Sum: 26.0

In [12]:
# String concatenation with input
city = input("Enter your city:")
country = input("Enter your country:")
location = city +","+country
print("You are in:",location)

Enter your city:New Haven
Enter your country:USA
You are in: New Haven,USA

In [13]:
# Multiple inputs
name, age = input("Enter your name and age sperated by space:").split()
print(f"my name is {name} and my age is {age}")

Enter your name and age sperated by space:Alaa 55
my name is Alaa and my age is 55